* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  color: #333;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  
}

/* NAVBAR */
.navbar {
  background: #0f172a;
  padding: 1rem 0;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
}

nav a {
  color: #fff;
  margin-left: 1rem;
  text-decoration: none;
  font-size: 0.9rem;
}
nav a:hover {
  text-decoration: underline;
}

.btn {
  background: #2563eb;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}
.btn:hover {
  background: #1e40af;
}
.btn:active {
  background: #1e3a8a;
}
.btn1 {
  background: #10b981;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}
.btn1:hover {
  background: #059669;
}

.btn-outline {
  border: 1px solid #2563eb;
  color: #2563eb;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-left: 0.5rem;
  text-decoration: none;
}
.btn-outline:hover {
  background: #2563eb;
  color: #fff;
}

/* HERO */
.hero {
  background: #f1f5f9;
  padding: 4rem 0;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-buttons {
  margin-top: 1.5rem;
}

/* SERVICES */
.services {
  padding: 4rem 0;
}

.section-title {
  text-align: center;
  margin-bottom: 2rem;
}

.service-cards {
  display: flex;
  gap: 1.5rem;
}

.card {
  background: #f8fafc;
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
}
.icon {
  font-size: 2.2rem;
  color: #2563eb;
  margin-bottom: 1rem;
}
h2{
  text-decoration: underline;
}


/* ABOUT */
.about {
  background: #f1f5f9;
  padding: 4rem 0;
}

.about-content {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.about ul {
  margin-top: 1rem;
}

/* PROCESS */
.process {
  padding: 4rem 0;
  
}

.steps {
  display: flex;
  gap: 1.5rem;
  text-align: center;
  padding-left: 8%;
}

.step span {
  display: inline-block;
  background: #2563eb;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  margin-bottom: 1rem;
  text-align: center;
  
}

/* TESTIMONIALS */
.testimonials {
  background: #f1f5f9;
  padding: 4rem 0;
}

.testimonial-cards {
  display: flex;
  gap: 1.5rem;
}

.testimonial {
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
}

/* CTA */
.cta {
  background: #2563eb;
  color: #fff;
  padding: 3rem 0;
  text-align: center;
  text-decoration: none;
}

/* FOOTER */
.footer {
  background: #0f172a;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-content,
  .about-content,
  .service-cards,
  .steps,
  .testimonial-cards {
    flex-direction: column;
  }

  nav a {
    margin-left: 0.5rem;
  }
}
